<!DOCTYPE html>
<html>
<h1>Welcome to Online Shopping</h1>
<body>
<%= image_tag("kwBKbez.jpg", width: '900px', height: '400px')%>
<br>
Online Shopping(E-commerce) is the buying and selling of goods and services over the Internet. It is conducted over computers, tablets, smartphones, and other smart devices. Almost anything can be purchased through ecommerce today.
</body>
</html>

